#cards {
	display: flex;
	flex-direction: column;
	width: 300px;
	background-color: #fff;
	color: #1e3231;
	font-family: "Roboto", sans-serif;
	border-radius: 1rem;
	padding: 2rem;
	margin: 5% 1%;
	box-shadow: 0 0 20px 5px rgba($color: #000000, $alpha: 0.2);
}

.card-title {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	margin: 14px 0;
	width: fit-content;
	@apply md:text-[1.8rem] text-[1.3rem];
}

.img-box {
	height: 250px;
	overflow: hidden;
}

.img-box img {
	transition-duration: 500ms;
}

.img-box:hover img {
	transform: scale(1.5);
}

button {
	@apply focus:ring-4 focus:ring-[#3ca4ff];
}
