@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600";
$font: "Source Sans Pro", sans-serif;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.modal-flex {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.modal-container {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.16);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.4px);
	-webkit-backdrop-filter: blur(7.4px);
	&.active {
		display: block;
	}
}

.modal {
	display: none;
	position: relative;
	@apply w-[340px] h-[500px] md:h-[700px] md:w-[660px];
	background: #fff;
	border: solid 2px #000;
	border-radius: 20px;
	&.active {
		display: block;
	}
	.content {
		display: flex;
		flex-direction: column;
		padding: 30px;
		@apply w-[200px] md:w-fit;
		.title {
			@apply w-fit md:w-full text-[1.3rem] md:text-[2rem];
			font-weight: 600;
			font-family: "Montserrat", sans-serif;
		}
	}
	.close-box {
		width: 100%;
		position: sticky;
		top: 0;
		@apply scrollbar-none;
		.close {
			display: block;
			position: absolute;
			right: 0;
			border-radius: 0 0 0 12px;
			font-family: $font;
			cursor: pointer;
			width: 50px;
			height: 50px;
			background-color: #24252a;
			text-align: center;
			line-height: 50px;
			color: #999;
			font-size: 40px;
			transition: 0.3s;
			&:hover {
				color: lighten($color: #999, $amount: 100%);
			}
			span {
				transform: rotate(45deg);
				display: block;
			}
		}
	}
}

.modal-btn {
	display: flex;
	width: 100%;
	position: absolute;
	color: #fff;
	padding: 10px;
	background-color: #24252a;
}

.contact-seller {
	display: flex;
	align-items: center;
	background-color: #453ed3;
	transition: 0.5s;
	@apply grow md:text-lg text-[.9rem] font-montserrat absolute right-0 p-2 md:p-4 h-full;
	&:hover {
		background-color: darken($color: #453ed3, $amount: 10%);
	}
}
